@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";


.hero {
  &.has-background {
    position: relative;
    overflow: hidden;
  }

  &-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;

    &.is-transparent {
      opacity: 0.3;
    }
  }

  &.is-blogpost  {
    .hero-body {
      @media (min-width: $widescreen) {
        padding: 18rem 1.5rem 1.5rem;
      }
      @media (max-width: $widescreen) {
        padding: 2rem 1.5rem 1.5rem;
      }
      .container {
        .title {
          @media (max-width: $widescreen) {
            font-size: 1.4em;
          }
        }
      }
    }

  }
}